{% extends 'base.html' %}
{% load static %}

{% block title %}
  Alex Balashov
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'portfolio/index.css' %}">
{% endblock %}

{% block body %}

  <section id="welcome_section">
      <header>
        <h2>ALEX'S PORTFOLIO</h2>
      </header>
      <div id="welcome_section_container">
        <img
          src="{% static 'portfolio/images/me.png' %}"
          alt="Alex Balashov - The Owner of this Portfolio Site"
        />
        <div>
          <p>Hello I'm Alex a junior developer</p>
          <p>I'm currently interested in Full-stack and Backend development</p>
          <p>I graduated from HIT with a BCs bachelor's degree in Computer Science</p>
          <p>Currently - I'm searching for new job opportunities as a Full-Stack Developer</p>
        </div>
      </div>
  </section>
  
  <section id="experienced_section">
    <header>
      <h2>I am experienced with</h2>
    </header>
    <div id="experienced_section__container">
      <div>
        {% comment %} <img src={% static 'portfolio/images/java.svg' %} alt="Java icon from: https://icons8.com/icons/set/Java"> {% endcomment %}
        <i class="fa-brands fa-java fa-6x"></i>
        <p>Java</p>
      </div>
      <div> 
        {% comment %} <img src={% static 'portfolio/images/javascript.svg' %} alt="JavaScript icon from: https://icons8.com/icons/set/JavaScript"> {% endcomment %}
        <i class="fa-brands fa-square-js fa-6x"></i>
        <p>JavaScript</p>
      </div>
      <div>
        {% comment %} <img src={% static 'portfolio/images/nodejs.svg' %} alt="Nodejs icon from: https://icons8.com/icons/set/Nodejs"> {% endcomment %}
        <i class="fa-brands fa-node fa-6x"></i>
        <p>Nodejs</p>
      </div>
      <div> 
        {% comment %} <img src={% static 'portfolio/images/python.svg' %} alt="Python icon from: https://icons8.com/icons/set/python"> {% endcomment %}
        <i class="fa-brands fa-python fa-6x"></i>
        <p>Python</p>
      </div>
      <div> 
        <img src={% static 'portfolio/images/django.svg' %} alt="Django icon from: https://icons8.com/icons/set/django">
        <p>Django</p>
      </div>
      <div> 
        {% comment %} <img src={% static 'portfolio/images/css3.svg' %} alt="CSS icon from: https://icons8.com/icons/set/CSS"> {% endcomment %}
        <i class="fa-brands fa-css3-alt fa-6x"></i>
        <p>CSS</p>
      </div>
      <div> 
        {% comment %} <img src={% static 'portfolio/images/html5.svg' %} alt="HTML5 icon from: https://icons8.com/icons/set/HTML5"> {% endcomment %}
        <i class="fa-brands fa-html5 fa-6x"></i>
        <p>HTML5</p>
      </div>
    </div>
  </section>
  
  {% comment %} <section id="site-purpose_section">
    <h2>Feel free to</h2>
    <p><i class="fa-regular fa-star"></i>Browse my projects</p>
    <p><i class="fa-regular fa-star"></i>Leave a comment</p>
    <p><i class="fa-regular fa-star"></i>Contact me directly</i></p>
  </section> {% endcomment %}
      
  <section id="projects_section">
    <H2>Latest Projects</H2>
      <ul>
        {% for p in projects %}
          {% include "portfolio/includes/project.html" %}
        {% endfor %}
      </ul>
  </section>

{% endblock %}