@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&family=PT+Sans&family=Ubuntu&display=swap");
/*
font-family: 'Courgette', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

* {
  /* Global Rest */
  margin: 0;
  padding: 0;
  
  /* Box size includes pading and margin an borders */
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;
}

h1 {
  font-family: "Courgette", cursive;
}

h2,
h3 {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "PT Sans", sans-serif;
  line-height: 170%;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #222831;
}

/* Index Body - Start */

.index-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Index Body - End */

/* Navbar - Start */

.index-header {
  width: 90%;
  height: 3.5rem;
  border-radius: 0 0 30px 30px;
  background-color: #EEEEEE;
  flex: 0 1 auto;
  box-shadow: 0 0 10px 5px #EEEEEE;
}

.index-header nav {
  width: 100%;
  height: 100%;
}

.side-header {
  display: none;
}

.index-header ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.index-header li {
  width: 11rem;
}

.index-header li a {
  padding: 0.5rem;
  margin: 0 1rem;
  transition: 0.2s;
}

.index-header a:visited {
  color: black;
}

.index-header a:hover,
.index-header a:active {
  background-color: #393E46;
  color: #EEEEEE;
  border-radius: 1rem;
}

.index-header a:focus {
  background-color: #222831;
  color: #EEEEEE;
  border-radius: 1rem;
}

.hamburger {
  display: none;
  height: 1.5rem;
  width: 2rem;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0.5rem 0 0;
}

.hamburger:hover {
  background-color: rgb(241, 200, 95);
  border-radius: 3rem;
}

.hamburger div {
  display: block;
  height: 0.25rem;
  width: 100%;
  border-radius: 12px;
  background: #0e2431;
}

/* Navbar - End */

/* Filler - Start */

.filler {
  width: 100%;
  /*
  flex-grow
  flex-shrink
  flex-basis
  */
  flex: 1 1 auto;
}

/* Filler - End */

/* Footer - Start */

.index-footer {
  width: 90%;
  height: 3.5rem;
  border-radius: 30px 30px 0 0;
  background-color: #EEEEEE;
  box-shadow: 0 0 10px 5px #EEEEEE;
  /* box-shadow: 0 0 20px 6px #EEEEEE; */
}

.index-footer nav {
  width: 100%;
  height: 100%;
}
.index-footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Footer - End */

/* Media Query: Screen size dependancy - Start */

@media screen and (max-width: 720px) {
  .hamburger {
    display: flex;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
  }

  .side-header {
    display: block;
    margin: 0.5rem;
    text-align: center;
  }

  .index-header nav {
    position: absolute;
    left: -300px;
    top: 0;
    width: fit-content;
    height: fit-content;
    background-color: #fefefe;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0 0 2rem 0;
    z-index: 998;
  }

  #nav_check:checked ~ nav {
    left: 0;
  }

  .index-header {
    width: 100%;
    border-radius: 0;
  }

  .index-footer {
    width: 100%;
    border-radius: 0;
  }

  .index-header ul {
    flex-direction: column;
  }

  .index-header li {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 425px) {
  .index-footer ul {
    flex-direction: column;
  }
}

/* Media Query: Screen size dependancy - End */
