{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {% endblock %}
  </title>
    {% block css %}
    {% endblock %}
  <link rel="stylesheet" href="{% static "base.css" %}">
</head>

<body class="index-body">
  <header class="index-header">

    <input type="checkbox" id="nav_check" hidden>

    <nav>
      <h1 class="side-header">Site Links</h1>
      <ul>
        <li><a href="#">Dummy-Link (1)</a></li>
        <li><a href="#">Dummy-Link (2)</a></li>
        <li><a href="#">Dummy-Link (3)</a></li>
      </ul>
    </nav>

    <label for="nav_check"class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </label>

  </header>

  <div class="body-content">
    {% block body %}
    {% endblock %}
  </div>

  <div class="filler">
  </div>

  <footer class="index-footer">
    <nav>
      <ul>
        <li><a href="#">Dummy-Icon (1)</a></li>
        <li><a href="#">Dummy-Icon (2)</a></li>
        <li><a href="#">Dummy-Icon (3)</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>